.nav-wrap {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;

  .base-nav {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
  }
}
